In [1]:
%pylab inline
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

In [2]:
df = pd.read_csv("employee_reviews.csv")

In [3]:
df.head(1)

,Unnamed: 0,company,location,dates,job-title,summary,pros,cons,advice-to-mgmt,overall-ratings,work-balance-stars,culture-values-stars,carrer-opportunities-stars,comp-benefit-stars,senior-mangemnet-stars,helpful-count,link
0,1,google,none,"Dec 11, 2018",Current Employee - Anonymous Employee,Best Company to work for,People are smart and friendly,Bureaucracy is slowing things down,none,5.0,4.0,5.0,5.0,4.0,5.0,0,https://www.glassdoor.com/Reviews/Google-Revie...

In [4]:
df.count()[0]

67529

In [5]:
df = df[df["work-balance-stars"] != "none"]
df = df[df["culture-values-stars"] != "none"]
df = df[df["carrer-opportunities-stars"] != "none"]
df = df[df["comp-benefit-stars"] != "none"]
df = df[df["senior-mangemnet-stars"] != "none"]
df.count()[0]

53222

In [6]:
df = df[["work-balance-stars","culture-values-stars","carrer-opportunities-stars","comp-benefit-stars","senior-mangemnet-stars","company"]]
df.head()

,work-balance-stars,culture-values-stars,carrer-opportunities-stars,comp-benefit-stars,senior-mangemnet-stars,company
0,4.0,5.0,5.0,4.0,5.0,google
1,2.0,3.0,3.0,5.0,3.0,google
2,5.0,4.0,5.0,5.0,4.0,google
3,2.0,5.0,5.0,4.0,5.0,google
4,5.0,5.0,5.0,5.0,5.0,google

In [9]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(df["company"])
le.transform(["google"])

array([3])

In [10]:
df["company"] = le.transform(df["company"])

In [11]:
df.head()

,work-balance-stars,culture-values-stars,carrer-opportunities-stars,comp-benefit-stars,senior-mangemnet-stars,company
0,4.0,5.0,5.0,4.0,5.0,3
1,2.0,3.0,3.0,5.0,3.0,3
2,5.0,4.0,5.0,5.0,4.0,3
3,2.0,5.0,5.0,4.0,5.0,3
4,5.0,5.0,5.0,5.0,5.0,3

In [12]:
le.inverse_transform([1,2,3,4,5]) # see labels

array(['apple', 'facebook', 'google', 'microsoft', 'netflix'],
      dtype=object)